.round-menu__open-button {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    padding: 0;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    cursor: pointer;
    z-index: 2;
    opacity: .7;
    box-shadow: 2px 2px 10px lightgray;
    transition: opacity .3s ease, box-shadow .3s ease, background-color .3s ease;
    background-color: #ec0f0f;
}

.round-menu__open-button:active {
    box-shadow: 5px 5px 10px lightgray;
}

.round-menu__open-button:hover {
    opacity: 1;
}

.round-menu__open-button_used {
    background-color: #eeeeee;
}